* {
  margin: 0;
  font-size: 62.5%;
}
@font-face {
  font-family: valorant;
  src: url(./Fonts/valorant/Valorant\ Font.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: BigSpace;
  src: url(./Fonts/BigSpace-rPKx.ttf);
}
:root {
  --amarillo: rgba(225, 191, 11, 1);
  --negro: rgba(24, 24, 24, 1);
  --gris: rgba(130, 130, 130, 1);
  --blanco: rgba(255, 255, 255, 1);
}
/*Espacio para el header*/
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  height: 6.5rem;
  border-style: dotted;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom-color: var(--negro);
  border-bottom-width: 0.1rem;
}
button {
  background-color: var(--amarillo);
  font-family: BigSpace;
  border-radius: 1rem;
  cursor: pointer;
}
/*Estilo de Lista desplegable*/
input:checked ~ ul {
  display: block;
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  line-height: 5.5rem;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  user-select: none;
}
label:hover {
  background: grey;
  cursor: pointer;
}
input:checked ~ label {
  background: lightgrey;
}
.listado {
  margin-top: 0;
  padding: 0;
  width: 14rem;
  display: none;
}
.listado .item {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  border-bottom: 0.1rem solid grey;
  font-size: 1.5rem;
  font-family: BigSpace;
}
.item:hover {
  filter: brightness(110%);
  border-bottom: none;
  cursor: pointer;
}
.logo {
  width: 7rem;
}
.Foto_Perfil {
  width: 6rem;
  height: 6rem;
  border-radius: 7rem;
}
.Contenedor_Menu {
  width: 16.5rem;
  height: 6rem;
}
.Contenedor_Juego {
  display: flex;
  justify-content: center;
  height: 100%;
  background: url(https://preview.redd.it/mrd7stj7vtv71.png?auto=webp&s=ea7d6f0593e9c9e533d72a3d0a15f394a04eff46);
}
.Contenedor_perfil {
  display: flex;
  justify-content: flex-end;
  width: 16.5rem;
  height: 6rem;
}
.botones_conoce_a {
  display: flex;
  justify-content: space-evenly;
}

.Juego {
  margin-top: 2.4375rem;
  border: 20px outset rgba(225, 191, 11, 1);
}
